
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        <p>This is my View for Testing...</p>
        <button value="123">sadfds</button>
        
    </div>
    
</body>
</html>
