
@{
    ViewBag.Title = "Jeevan";
}

<h2>Jeevan</h2>

<audio  controls="controls">
    <source src="~/Video/01.mp3" type="audio/mpeg" />
</audio>

<video width="400" controls="controls">
    <source src="~/Video/tt.mp4" type="video/mp4" />
</video>