
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>  
   

</head>
<body>
    <div> 

        <p>Pass data from Controller to View</p>
        <br />
        My Current date and time : @ViewData["mydate"]
        <br />
        test : @ViewData["slno"]
        
    </div>
</body>
</html>
